.cell {

    /* Defines a black border around the standard color -fx-base */
    -fx-background-color:  black, -fx-base ;

    /* By default draw the base color over the whole region, so no border visible */
    -fx-background-insets: 0, 0 ;
}

.cell:right {
    -fx-background-insets: 0, 0 3 0 0 ;
}

.cell:bottom {
    -fx-background-insets: 0, 0 0 3 0 ;
}

.cell:right:bottom {
    -fx-background-insets: 0, 0 3 3 0 ;
}

.cell:focused {
    -fx-background-color: #d2eeee;
}
